
<div id="inputform" class="inputform">
  <form id="form" name="form" method="post" action="index.html">
    <h1 style="display: block;">Katze eintragen</h1>
    <label>Name: </label><input type='text' id="name" name="name" style="display: block;">
    <label>Alter: </label><input type='number' id="age" name="age" style="display: block;">
    <label>Beschreibung: </label><input type='text' id="description" name="description" style="display: block;">
    <label>Sterne: </label><input type='number' id="stars" name="stars" style="display: block;">
    <label>Schutzgebühr: </label><input type='number' id="price" name="price" style="display: block;">
    <label>Bild: </label><input type="image" id="image" name="image" style="display:block;" />
    <p></p>
    <input type="button" value="Speichern" style="display: block;" ng-click="insertdata()" />
  </form>
</div>


  <form class="form-inline my-2 my-lg-0">
    <input type='text'
           [(ngModel)]='listFilter' name="nameng">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <div class="container-fluid">

    <div class="row d-inline-flex">

      <!-- Gallery Item 1 -->

      <div class="card" style="width: 18rem;" *ngFor='let cat of filteredCats'>

        <img [class]="card-img-top" [src]="cat.productImage" [title]="cat.productName"
             [style.width.px]="imageWidth" [style.height.px]="imageHeight"
             [style.margin.px]="imageMargin">
        <div class="card-body">
          <h5 class="card-title">{{cat.productName | uppercase }}</h5>
          <p class="card-text">{{cat.productDescription}}</p>
          <p class="card-text">Schutzgebühr: {{cat.productPrice | currency:'EUR':'symbol':'1.2-2' }}</p>
          <p class="card-text"><pm-star [rating]="cat.productStars" (notify)="onNotify($event)"></pm-star></p>
          <a href="#" class="btn btn-primary" (click)="showMore()">{{buttontext}}</a>
        </div>
      </div>
    </div>

  </div>
